.profile{
  width: 100%;
  background-color: black;
  color: #f5f5f5;
  padding-bottom: 60px;
  min-height: 100vh;
}
.nav_profile{
  width: 100%;
  height: 60px;
  /* box-shadow: 0 0 5px 0 rgba(255,255,255,0.4); */
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  background: #000000;
  z-index: 10;
}
.nav_section{
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav_profile_link{
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}
.nav_profile_link:hover{
  text-decoration: none;
  color: #ffffff;
}
.nav_profile_link_active{
  color: rebeccapurple;
}
.nav_profile_link_active:hover{
  color: rebeccapurple;
}

.edit_data_profile{
  width: 100%;
  min-height: 100vh;
  padding-bottom: 20px;
}
.multiselects{
  color: #303030;
}


.profile_photo_containt{
  width: 100%;
  height: 30vh;
  padding: 5%;
  margin-bottom: 20px;
}
.profile_photo_containt_form{
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.profile_photo_containt_box{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
}
.profile_photo_containt_box>img{
  width: 100%;
  border-radius: 50%;
}
#photo_profile, #photos_conataint_profile{
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
#photo_profile + label,
#photos_conataint_profile + label {
  height: 30px;
  padding: 5% 7%;
  border-radius: 30px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  background-color: rebeccapurple;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 7px rgba(255,255,255,0.2);
  line-height: 0;
}


.photos_containt{
  width: 100%;
  box-shadow: 0 -2px 5px rgba(255,255,255,0.2);
  padding: 5%;
  margin: 0 auto;
  text-align: center;
}

.section_photos{
  width: 100%;
  padding-top: 2%;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.box_photo{
  width: 33%;
  height: 110px;
  margin-bottom: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255,255,255,0.2);
  position: relative;
}
.box_photo>img{
  width: 100%;
  height: 110px;
}
.btn_destroy{
  position: absolute;
  width: 20px;
  height: 20px;
  border: 3px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: red;
  font-weight: bold;
  bottom: 3%;
  right: 3%;
  line-height: 0;
  z-index: 5;
  cursor: pointer;
}


.img_profile{
  width: 100%;
  height: 50vh;
}

.profile_header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5%;
}